.container {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid mediumseagreen;
    padding: 30px;
}

.navItem {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
}

.btn {
    border: 1px solid mediumseagreen;
    border-radius: 5px;
}
